{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }} - Ankith Blog{% endblock %}

{% block content %}
<section class="blog-post-hero py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {% if post.featured_image %}
                <div class="post-featured-image mb-4" data-aos="fade-up">
                    <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="img-fluid rounded">
                </div>
                {% endif %}
                
                <div class="post-meta mb-3" data-aos="fade-up" data-aos-delay="200">
                    <span class="post-date">
                        <i class="fas fa-calendar"></i> {{ post.created_at|date:"F d, Y" }}
                    </span>
                    <span class="post-read-time ms-3">
                        <i class="fas fa-clock"></i> 5 min read
                    </span>
                </div>
                
                <h1 class="post-title" data-aos="fade-up" data-aos-delay="300">{{ post.title }}</h1>
            </div>
        </div>
    </div>
</section>

<section class="blog-post-content py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <article class="post-content" data-aos="fade-up">
                    {{ post.content|linebreaks }}
                </article>
                
                <div class="post-actions mt-5" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{% url 'blog' %}" class="btn btn-outline-neon">
                                <i class="fas fa-arrow-left"></i> Back to Blog
                            </a>
                        </div>
                        <div class="col-md-6 text-md-end">
                            <div class="share-buttons">
                                <span class="me-2">Share:</span>
                                <a href="#" class="btn btn-sm btn-outline-neon me-1" title="Share on Twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-outline-neon me-1" title="Share on LinkedIn">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-outline-neon" title="Copy Link">
                                    <i class="fas fa-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}